#root {
  padding: 2rem;
}

.header {
  align-items: center;
  display: flex;
  width: 100%;
}

.header .title {
  flex-grow: 1;
}

.spinner {
  animation: spin 666ms infinite linear;
  width: 200px;
  height: 200px;
}

.spinner path:nth-child(2), .spinner path:nth-child(3) {
  fill: rgba(153,51,255,0.85);
}

@keyframes spin {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}

